/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 sept 2023, 21:08:45
    Author     : Me
*/
#encabezado {
    color:aquamarine;
    font-weight: bold;
}
/*Cosas especificas*/

.parrafosCentrados{
    text-align: center;
    font-weight: bold;
    color:blueviolet;
    font-family: arial;
}

.textocafe {
    color: brown;
}
/*Para modificar varios elementos*/

* {
    color:cadetblue ;
}
/*Selector universal, se lo asigna a quien lo tenga algo, en este caso un color*/
h1 {
    color:crimson ;
}

/*Selector de elementos*/