/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 1 oct 2023, 10:45:52
    Author     : Me
*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    padding: 45px 20px 0px;
}

.header {
    background-color: navy;
    height: 12%;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 990px;
    margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    
    color: aquamarine;
    font-size: 35px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 18px;
    line-height: 90px;
    width: max-content;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 10px;
}

.nav-menu-link:hover{
    background-color: cyan;
}




